/*@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Permanent+Marker&display=swap");*/
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  /*font-family: "Montserrat", sans-serif;*/
  scroll-behavior: smooth;
}

img {
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -o-crisp-edges; /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
}

::moz-selection {
  color: white;
  background-color: #00acc1;
}
::selection {
  color: white;
  background-color: #00acc1;
}

.transition-color {
  transition: color 0.35s ease;
}

.transition-bg {
  transition: background-color 0.35s ease;
}

.smooth-shadow {
  box-shadow:
    0.6px 0.6px 2.2px rgba(0, 0, 0, 0.028),
    1.3px 1.3px 5.3px rgba(0, 0, 0, 0.04),
    2.5px 2.5px 10px rgba(0, 0, 0, 0.05),
    4.5px 4.5px 17.9px rgba(0, 0, 0, 0.06),
    8.4px 8.4px 33.4px rgba(0, 0, 0, 0.072),
    20px 20px 80px rgba(0, 0, 0, 0.1)
  ;
}
